# titulo da analise
descriçao breve - explicar q a limpeza já foi feita no staging e que aqui é mais pra fazer analises com graficos

In [35]:
pip install pandas psycopg2-binary

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.10)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Aqui vou só setar os df basicos e mostrar umas info

In [36]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://clever:clever@postgres_clever:5432/clever")

fmcsa_complaints_df = pd.read_sql('select * from public.fmcsa_complaints', con=engine)
fmcsa_safer_data_df = pd.read_sql('select * from public.fmcsa_safer_data', con=engine)
fmcsa_company_snapshot_df = pd.read_sql('select * from public.fmcsa_company_snapshot', con=engine)
fmcsa_companies_df = pd.read_sql('select * from public.fmcsa_companies', con=engine)
customer_reviews_google_df = pd.read_sql('select * from public.customer_reviews_google', con=engine)
company_profiles_google_maps_df = pd.read_sql('select * from public.company_profiles_google_maps', con=engine)

Aqui só uma olhada em todos dfs basicos

In [37]:
print("fmcsa_complaints_df:\n")
fmcsa_complaints_df.info()
fmcsa_complaints_df.head()

fmcsa_complaints_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   usdot_num           474 non-null    int64
 1   id                  474 non-null    object
 2   user_created        474 non-null    object
 3   date_created        474 non-null    object
 4   user_updated        0 non-null      object
 5   date_updated        0 non-null      object
 6   complaint_category  474 non-null    object
 7   complaint_year      474 non-null    int64
 8   complaint_count     474 non-null    int64
dtypes: int64(3), object(6)
memory usage: 33.5+ KB

,usdot_num,id,user_created,date_created,user_updated,date_updated,complaint_category,complaint_year,complaint_count
0,3500694,003e5853-e612-4661-b889-1113a62212ba,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:59:52.992Z,None,None,Consumer Complaint(Deceptive Business Practices),2021,1
1,3179208,0164fac5-9ed5-49e2-a60b-874a3a4e5760,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:59:52.929Z,None,None,Estimates/Final Charges,2021,1
2,2543958,018d14dc-a7d3-438d-8162-0acdfc926806,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T18:00:14.278Z,None,None,Consumer Complaint(Deceptive Business Practices),2022,7
3,2955542,01bf5740-de67-4a41-a971-9266923a11a1,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:59:53.099Z,None,None,Pickup and Delivery,2022,2
4,3307068,027b31c6-6493-47f2-82ca-92e223a7558b,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T18:00:14.690Z,None,None,Weighing,2022,2

In [38]:
print("fmcsa_safer_data_df:\n")
fmcsa_safer_data_df.info()
fmcsa_safer_data_df.head()

fmcsa_safer_data_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 55 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   usdot_num                            394 non-null    int64
 1   fmcsa_link                           394 non-null    object
 2   user_created                         394 non-null    object
 3   date_created                         394 non-null    object
 4   user_updated                         394 non-null    object
 5   date_updated                         394 non-null    object
 6   entity_type                          394 non-null    object
 7   operating_status                     394 non-null    object
 8   oos_date                             13 non-null     object
 9   legal_name                           394 non-null    object
 10  dba_name                             101 non-null    object
 11  physical_address                     394 non-null    object
 12  phone                                386 non-null    object
 13  mailing_address                      391 non-null    object
 14  state_carrier_id_number              0 non-null      object
 15  mc_num                               241 non-null    object
 16  duns_number                          391 non-null    object
 17  power_units                          394 non-null    int64
 18  drivers                              299 non-null    float64
 19  mcs_150_form_date                    354 non-null    object
 20  operation_classification             389 non-null    object
 21  carrier_type                         313 non-null    object
 22  cargo_types                          348 non-null    object
 23  us_vehicle_inspections               394 non-null    int64
 24  us_driver_inspections                394 non-null    int64
 25  us_hazmat_inspections                394 non-null    int64
 26  us_iep_inspections                   394 non-null    int64
 27  us_vehicle_out_of_service            394 non-null    int64
 28  us_driver_out_of_service             394 non-null    int64
 29  us_hazmat_out_of_service             394 non-null    int64
 30  us_iep_out_of_service                394 non-null    int64
 31  us_vehicle_out_of_service_pct        383 non-null    float64
 32  us_driver_out_of_service_pct         393 non-null    float64
 33  us_hazmat_out_of_service_pct         305 non-null    float64
 34  us_iep_out_of_service_pct            394 non-null    float64
 35  us_vehicle_natl_avg_oos_pct          394 non-null    float64
 36  us_driver_natl_avg_oos_pct           394 non-null    float64
 37  us_hazmat_natl_avg_oos_pct           394 non-null    float64
 38  us_iep_natl_avg_oos_pct              0 non-null      object
 39  us_crashes_fatal                     394 non-null    int64
 40  us_crashes_injury                    394 non-null    int64
 41  us_crashes_tow                       394 non-null    int64
 42  us_crashes_total                     394 non-null    int64
 43  canadian_vehicle_inspections         394 non-null    int64
 44  canadian_driver_inspections          394 non-null    int64
 45  canadian_vehicle_out_of_service      394 non-null    int64
 46  canadian_driver_out_of_service       394 non-null    int64
 47  canadian_vehicle_out_of_service_pct  394 non-null    float64
 48  canadian_driver_out_of_service_pct   394 non-null    float64
 49  carrier_safety_rating_rating_date    15 non-null     object
 50  carrier_safety_rating_review_date    33 non-null     object
 51  carrier_safety_rating_rating         381 non-null    object
 52  carrier_safety_rating_type           381 non-null    object
 53  mileage                              187 non-null    float64
 54  mileage_year                         187 non-null    float64
dtypes: float64(12), int64(18), object(25)
memory usage: 169.4+ KB

,usdot_num,fmcsa_link,user_created,date_created,user_updated,date_updated,entity_type,operating_status,oos_date,legal_name,...,canadian_vehicle_out_of_service,canadian_driver_out_of_service,canadian_vehicle_out_of_service_pct,canadian_driver_out_of_service_pct,carrier_safety_rating_rating_date,carrier_safety_rating_review_date,carrier_safety_rating_rating,carrier_safety_rating_type,mileage,mileage_year
0,1032910,https://safer.fmcsa.dot.gov/query.asp?searchty...,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T20:31:56.995Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-17T15:27:51.082Z,CARRIER,AUTHORIZED FOR HHG,None,LONE STAR LOADERS INC,...,0,0,0.0,0.0,None,2009-06-12,None,Non-Ratable,130000.0,2020.0
1,1151019,https://safer.fmcsa.dot.gov/query.asp?searchty...,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T20:32:53.490Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-17T15:28:48.225Z,CARRIER,AUTHORIZED FOR HHG,None,TOP 10 VAN LINES INC,...,0,0,0.0,0.0,None,2017-04-06,None,Non-Ratable,700000.0,2022.0
2,1170441,https://safer.fmcsa.dot.gov/query.asp?searchty...,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T20:32:01.174Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-17T15:27:55.184Z,CARRIER,AUTHORIZED FOR HHG,None,GENESIS MOVING & STORAGE INC,...,0,0,0.0,0.0,None,None,None,None,75000.0,2021.0
3,1174864,https://safer.fmcsa.dot.gov/query.asp?searchty...,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T20:31:29.607Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-17T15:27:20.441Z,CARRIER,NOT AUTHORIZED,None,ATC CARGO INC,...,0,0,0.0,0.0,None,None,None,None_1,10000.0,2015.0
4,1182931,https://safer.fmcsa.dot.gov/query.asp?searchty...,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T20:31:53.270Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-17T15:27:47.296Z,CARRIER,NOT AUTHORIZED,None,E J R TRANSPORTATION INC,...,0,0,0.0,0.0,None,None,None,None,5000.0,2002.0

In [39]:
print("fmcsa_company_snapshot_df:\n")
fmcsa_company_snapshot_df.info()
fmcsa_company_snapshot_df.head()

fmcsa_company_snapshot_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   usdot_num              400 non-null    int64
 1   fmsca_ai_profile       400 non-null    object
 2   user_created           400 non-null    object
 3   date_created           400 non-null    object
 4   user_updated           400 non-null    object
 5   date_updated           400 non-null    object
 6   company_name           400 non-null    object
 7   mc_num                 397 non-null    float64
 8   registered_address     397 non-null    object
 9   mailing_address        397 non-null    object
 10  phone_number           391 non-null    object
 11  fax_number             94 non-null     object
 12  safety_review_date     18 non-null     object
 13  num_of_trucks          400 non-null    int64
 14  num_of_tractors        400 non-null    int64
 15  num_of_trailers        400 non-null    int64
 16  hhg_authorization      369 non-null    object
 17  total_complaints_2021  400 non-null    int64
 18  total_complaints_2022  400 non-null    int64
 19  total_complaints_2023  400 non-null    int64
dtypes: float64(1), int64(7), object(12)
memory usage: 62.6+ KB

,usdot_num,fmsca_ai_profile,user_created,date_created,user_updated,date_updated,company_name,mc_num,registered_address,mailing_address,phone_number,fax_number,safety_review_date,num_of_trucks,num_of_tractors,num_of_trailers,hhg_authorization,total_complaints_2021,total_complaints_2022,total_complaints_2023
0,3975699,https://ai.fmcsa.dot.gov/hhg/SearchDetails.asp...,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T18:26:30.062Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T19:05:56.185Z,GOING GOLDENN TRANSPORTATION LLC,1530057.0,"4420 MARK TRAIL WAY\nDALLAS, TX 75232-1047",Same as above,(214)709-8984,None,None,1,0,0,False,0,0,0
1,4040772,https://ai.fmcsa.dot.gov/hhg/SearchDetails.asp...,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T18:26:41.903Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T19:06:07.459Z,KINECT TRANSPORT LLC,1529014.0,"14155 DALLAS PKWY APT 1543\nDALLAS, TX 75254","14155 DALLAS PKWY APT 1543\nDALLAS, TX 75254-4463",(501)358-2015,None,None,0,0,0,False,0,0,0
2,4059470,https://ai.fmcsa.dot.gov/hhg/SearchDetails.asp...,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T18:26:31.889Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T19:05:57.695Z,GULED JAMA,1539998.0,"7509 24TH AVE SW APT 3\nSEATTLE, WA 98106","7509 24TH AVE SW APT 3\nSEATTLE, WA 98106-3401",(206)335-8042,(206) 335-8042,None,1,1,0,False,0,0,0
3,4054636,https://ai.fmcsa.dot.gov/hhg/SearchDetails.asp...,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T18:26:21.752Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T19:05:47.659Z,E&M EXPRESS LOGISTICS LLC,1537195.0,"750 N SAINT PAUL ST STE 250\nDALLAS, TX 75201","750 N SAINT PAUL ST STE 250\nDALLAS, TX 75201-...",(469)396-1815,None,None,1,0,0,False,0,0,0
4,4054993,https://ai.fmcsa.dot.gov/hhg/SearchDetails.asp...,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T18:27:06.870Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T19:06:33.016Z,RELIASAFE DELIVERIES,1537398.0,"9511 SW 81ST ST\nMIAMI, FL 33173","9511 SW 81ST ST\nMIAMI, FL 33173-5467",(305)582-6901,None,None,1,0,0,False,0,0,0

In [40]:
print("fmcsa_companies_df:\n")
fmcsa_companies_df.info()
fmcsa_companies_df.head()

fmcsa_companies_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   usdot_num              400 non-null    int64
 1   user_created           400 non-null    object
 2   date_created           400 non-null    object
 3   user_updated           400 non-null    object
 4   date_updated           400 non-null    object
 5   company_name           400 non-null    object
 6   company_url            400 non-null    object
 7   city                   400 non-null    object
 8   state                  400 non-null    object
 9   total_complaints_2021  400 non-null    int64
 10  total_complaints_2022  400 non-null    int64
 11  total_complaints_2023  400 non-null    int64
 12  location               400 non-null    object
 13  company_type           400 non-null    int64
dtypes: int64(5), object(9)
memory usage: 43.9+ KB

,usdot_num,user_created,date_created,user_updated,date_updated,company_name,company_url,city,state,total_complaints_2021,total_complaints_2022,total_complaints_2023,location,company_type
0,1032910,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:39:14.980Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:52:11.255Z,FANTASTIC MOVES,https://ai.fmcsa.dot.gov/hhg/SearchDetails.asp...,DALLAS,TX,0,0,0,"DALLAS, TX",7
1,1151019,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:39:49.637Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:52:44.877Z,TOP 10 VAN LINES INC,https://ai.fmcsa.dot.gov/hhg/SearchDetails.asp...,MIAMI,FL,10,5,1,"MIAMI, FL",20
2,1170441,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:39:49.385Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:52:44.472Z,"GENESIS MOVING & STORAGE,INC.",https://ai.fmcsa.dot.gov/hhg/SearchDetails.asp...,MIAMI,FL,0,0,0,"MIAMI, FL",1
3,1174864,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:39:49.147Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:52:44.235Z,ALEXIM MOVING,https://ai.fmcsa.dot.gov/hhg/SearchDetails.asp...,MIAMI,FL,0,0,0,"MIAMI, FL",1
4,1182931,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:39:49.307Z,88f52f6b-b3f1-4ef4-ad24-a605f568e3ef,2024-02-16T17:52:44.397Z,E J R TRANSPORTATION INC,https://ai.fmcsa.dot.gov/hhg/SearchDetails.asp...,MIAMI,FL,0,0,0,"MIAMI, FL",1

In [41]:
print("customer_reviews_google_df:\n")
customer_reviews_google_df.info()
customer_reviews_google_df.head()

customer_reviews_google_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12039 entries, 0 to 12038
Data columns (total 28 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   google_id                            12039 non-null  object
 1   review_id                            12039 non-null  object
 2   name                                 12039 non-null  object
 3   place_id                             12039 non-null  object
 4   location_link                        12039 non-null  object
 5   reviews_link                         12039 non-null  object
 6   reviews                              12039 non-null  float64
 7   rating                               12039 non-null  float64
 8   review_pagination_id                 11959 non-null  object
 9   author_link                          12039 non-null  object
 10  author_title                         12029 non-null  object
 11  author_id                            12039 non-null  float64
 12  author_image                         12039 non-null  object
 13  author_reviews_count                 12021 non-null  float64
 14  review_text                          10639 non-null  object
 15  review_img_url                       1287 non-null   object
 16  review_img_urls                      1287 non-null   object
 17  review_questions                     0 non-null      object
 18  review_photo_ids                     1287 non-null   object
 19  owner_answer                         2041 non-null   object
 20  owner_answer_timestamp               2041 non-null   float64
 21  owner_answer_timestamp_datetime_utc  2041 non-null   object
 22  review_link                          12039 non-null  object
 23  review_rating                        12039 non-null  float64
 24  review_timestamp                     12039 non-null  float64
 25  review_datetime_utc                  12039 non-null  object
 26  review_likes                         3951 non-null   float64
 27  reviews_id                           12006 non-null  float64
dtypes: float64(9), object(19)
memory usage: 2.6+ MB

,google_id,review_id,name,place_id,location_link,reviews_link,reviews,rating,review_pagination_id,author_link,...,review_photo_ids,owner_answer,owner_answer_timestamp,owner_answer_timestamp_datetime_utc,review_link,review_rating,review_timestamp,review_datetime_utc,review_likes,reviews_id
0,0x864c26c8a3f9fe6f:0x9f5f2eee19038a8b,ChZDSUhNMG9nS0VJQ0FnSUNabHRtNEZREAE,Wildcat Movers - Dallas,ChIJb_75o8gmTIYRi4oDGe4uX58,https://www.google.com/maps/place/Wildcat+Move...,https://search.google.com/local/reviews?placei...,1692.0,4.9,CAESBkVnSUliZw==,https://www.google.com/maps/contrib/1180290970...,...,AF1QipNLYp-Of9ChXtPBvekfgNbVJl1122ft9cERq3OW,None,NaN,None,https://www.google.com/maps/reviews/data=!4m8!...,5.0,1.694300e+09,9/9/2023 22:50,NaN,-6.962790e+18
1,0x864e99d71a97da87:0xacad6516b3a8297,ChdDSUhNMG9nS0VJQ0FnSUNabHBhZGtBRRAB,AB Moving,ChIJh9qXGteZToYRl4I6a1HWygo,https://www.google.com/maps/place/AB+Moving/@3...,https://search.google.com/local/reviews?placei...,724.0,4.5,CAESB0VnTUl0UUU=,https://www.google.com/maps/contrib/1103082439...,...,None,None,NaN,None,https://www.google.com/maps/reviews/data=!4m8!...,5.0,1.694297e+09,9/9/2023 22:00,NaN,7.776700e+17
2,0x864c26c8a3f9fe6f:0x9f5f2eee19038a8b,ChZDSUhNMG9nS0VJQ0FnSUNaNXVfUVF3EAE,Wildcat Movers - Dallas,ChIJb_75o8gmTIYRi4oDGe4uX58,https://www.google.com/maps/place/Wildcat+Move...,https://search.google.com/local/reviews?placei...,1692.0,4.9,CAESBkVnSUlidw==,https://www.google.com/maps/contrib/1053763761...,...,AF1QipOIHe2CliGnz_e7zwQ_NcL53Vm9ZVDRVpoxfwGM,None,NaN,None,https://www.google.com/maps/reviews/data=!4m8!...,5.0,1.694292e+09,9/9/2023 20:36,NaN,-6.962790e+18
3,0x549015ed168dab6d:0x301820ce37c9de5b,ChdDSUhNMG9nS0VJQ0FnSUNaNXRQRnZnRRAB,Pure Moving Company Seattle Movers Local & Lon...,ChIJbauNFu0VkFQRW97JN84gGDA,https://www.google.com/maps/place/Pure+Moving+...,https://search.google.com/local/reviews?placei...,597.0,5.0,CAESB0VnTUl1QUU=,https://www.google.com/maps/contrib/1055784996...,...,AF1QipOv4l2y4IL8lsmGXKrOgtpMFSn5FFl_9ejPX6LG,None,NaN,None,https://www.google.com/maps/reviews/data=!4m8!...,5.0,1.694290e+09,9/9/2023 20:05,NaN,3.465560e+18
4,0x549015ed168dab6d:0x301820ce37c9de5b,ChZDSUhNMG9nS0VJQ0FnSUNaNXJTaE93EAE,Pure Moving Company Seattle Movers Local & Lon...,ChIJbauNFu0VkFQRW97JN84gGDA,https://www.google.com/maps/place/Pure+Moving+...,https://search.google.com/local/reviews?placei...,597.0,5.0,CAESB0VnTUl1UUU=,https://www.google.com/maps/contrib/1121212537...,...,"AF1QipOYup8n4bncleRIojnuHjJ3dCToJQJzyOL2eBWj, ...",None,NaN,None,https://www.google.com/maps/reviews/data=!4m8!...,5.0,1.694283e+09,9/9/2023 18:07,NaN,3.465560e+18

In [42]:
print("company_profiles_google_maps_df:\n")
company_profiles_google_maps_df.info()
company_profiles_google_maps_df.head()

company_profiles_google_maps_df:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5865 entries, 0 to 5864
Data columns (total 53 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   google_id                 5865 non-null   object
 1   name                      5865 non-null   object
 2   site                      4499 non-null   object
 3   subtypes                  5858 non-null   object
 4   type                      5858 non-null   object
 5   category                  5858 non-null   object
 6   phone                     5622 non-null   object
 7   full_address              5865 non-null   object
 8   borough                   3823 non-null   object
 9   street                    5845 non-null   object
 10  city                      5865 non-null   object
 11  postal_code               5864 non-null   object
 12  state                     5865 non-null   object
 13  us_state                  5865 non-null   object
 14  country                   5828 non-null   object
 15  country_code              5828 non-null   object
 16  latitude                  5865 non-null   float64
 17  longitude                 5865 non-null   float64
 18  time_zone                 5828 non-null   object
 19  plus_code                 24 non-null     object
 20  area_service              5865 non-null   bool
 21  rating                    3687 non-null   float64
 22  reviews_link              3654 non-null   object
 23  reviews_tags              21 non-null     object
 24  photo                     5767 non-null   object
 25  photos_count              3076 non-null   float64
 26  street_view               5746 non-null   object
 27  located_in                10 non-null     object
 28  working_hours             4093 non-null   object
 29  working_hours_old_format  4093 non-null   object
 30  other_hours               45 non-null     object
 31  popular_times             0 non-null      object
 32  business_status           5865 non-null   object
 33  about                     5865 non-null   object
 34  range                     4 non-null      object
 35  posts                     13 non-null     object
 36  logo                      4636 non-null   object
 37  description               27 non-null     object
 38  typical_time_spent        0 non-null      object
 39  verified                  5862 non-null   object
 40  owner_id                  4636 non-null   float64
 41  owner_title               5862 non-null   object
 42  owner_link                4636 non-null   object
 43  reservation_links         0 non-null      object
 44  booking_appointment_link  882 non-null    object
 45  menu_link                 0 non-null      object
 46  order_links               882 non-null    object
 47  location_link             5865 non-null   object
 48  place_id                  5865 non-null   object
 49  cid                       5865 non-null   float64
 50  reviews_id                3652 non-null   float64
 51  located_google_id         10 non-null     object
 52  reviews                   3663 non-null   float64
dtypes: bool(1), float64(8), object(44)
memory usage: 2.3+ MB

,google_id,name,site,subtypes,type,category,phone,full_address,borough,street,...,reservation_links,booking_appointment_link,menu_link,order_links,location_link,place_id,cid,reviews_id,located_google_id,reviews
0,0x111f53bf849f031:0xb43eff4f62923c5d,Nicolas Boucher P.A,https://www.miamieliteresidences.com/,Real estate agent,Real estate agent,Real estate agent,+1 305-788-8035,"901 S Miami Ave #215, Miami, FL 33130",Downtown Miami,901 S Miami Ave #215,...,None,None,None,None,https://www.google.com/maps/place/Nicolas+Bouc...,ChIJMfBJ-Dv1EQERXTySYk__PrQ,1.298810e+19,-5.458640e+18,None,6.0
1,0x14e179155727173b:0x2c342e5f13a9b2d,New Hope Realty,None,Real estate agency,Real estate agency,Real estate agency,+1 770-635-7560,"110 Evans Mill Dr STE 102, Dallas, GA 30157",None,110 Evans Mill Dr STE 102,...,None,None,None,None,https://www.google.com/maps/place/New+Hope+Rea...,ChIJOxcnVxV54RQRLZs68eVCwwI,1.990760e+17,1.990760e+17,None,5.0
2,0x14e4b9f6c46524a9:0x202749ab2be6bfe3,Harvey Mclean & Associates,http://www.harveymclean.com/,Real estate agency,Real estate agency,Real estate agency,+1 214-219-4555,"4922 Abbott Ave, Dallas, TX 75219",Park Cities,4922 Abbott Ave,...,None,None,None,None,https://www.google.com/maps/place/Harvey+Mclea...,ChIJqSRlxPa55BQR47_mK6tJJyA,2.316902e+18,2.316902e+18,None,1.0
3,0x1803389f251373:0x26e9e6cc7312627c,Yanet Mino Realtor,None,Real estate agent,Real estate agent,Real estate agent,+1 305-570-8861,"7281 Coral Wy, Miami, FL 33155",None,7281 Coral Wy,...,None,None,None,None,https://www.google.com/maps/place/Yanet+Mino+R...,ChIJcxMlnzgDGAARfGISc8zm6SY,2.804030e+18,NaN,None,NaN
4,0x18751cf7cb7e9a5:0xad85fc0dfe9ff490,Lunabase Travelstays & Property Management,http://lunabase.io/,"Property management company, Condominium renta...",Property management company,Property management company,+1 305-204-8717,"1600 NE 1st Ave Unit 3419, Miami, FL 33132",Downtown Miami,1600 NE 1st Ave Unit 3419,...,None,https://book.lunabase.io/,None,https://book.lunabase.io/,https://www.google.com/maps/place/Lunabase+Tra...,ChIJpem3fM9RhwERkPSf_g38ha0,1.250370e+19,-5.943070e+18,None,23.0

Aqui eu falo q vou usar só as duas em staging para fazer as analises

In [43]:
staging_tables_join = pd.read_sql('select * from staging.company_profiles_google_maps cpg join staging.customer_reviews_google crg on cpg.name = crg.name', con=engine)

In [44]:
staging_tables_join.info()
staging_tables_join.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3718 entries, 0 to 3717
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 3718 non-null   object
 1   phone                3718 non-null   object
 2   site                 3691 non-null   object
 3   business_status      3718 non-null   object
 4   category             3718 non-null   object
 5   city                 3718 non-null   object
 6   state                3718 non-null   object
 7   rating               3718 non-null   float64
 8   about                3718 non-null   object
 9   verified             3718 non-null   bool
 10  reviews              3718 non-null   float64
 11  name                 3718 non-null   object
 12  reviews              3718 non-null   float64
 13  rating               3718 non-null   float64
 14  review_text          3321 non-null   object
 15  review_datetime_utc  3718 non-null   object
dtypes: bool(1), float64(4), object(11)
memory usage: 439.5+ KB

,name,phone,site,business_status,category,city,state,rating,about,verified,reviews,name,reviews,rating,review_text,review_datetime_utc
0,DeWitt & DeWitt,+1 972-360-0052,None,OPERATIONAL,Real estate consultant,Dallas,Texas,4.3,"{""Service options"": {""Online appointments"": tr...",True,27.0,DeWitt & DeWitt,27.0,4.3,Great experience! Super helpful and easy process,2019-09-09
1,Every Door Real Estate,+1 206-741-0380,https://www.everydoorrealestate.com/?utm_sourc...,OPERATIONAL,Real estate agency,Seattle,Washington,5.0,"{""From the business"": {""Identifies as women-ow...",True,791.0,Every Door Real Estate,792.0,5.0,We met our agent by accident & over the months...,2020-09-09
2,Every Door Real Estate,+1 206-741-0380,https://www.everydoorrealestate.com/?utm_sourc...,OPERATIONAL,Real estate agency,Seattle,Washington,5.0,"{""From the business"": {""Identifies as women-ow...",True,791.0,Every Door Real Estate,792.0,5.0,"Angela goes the ""extra mile,"" helping us long ...",2019-09-09
3,Trueway Sell My House Fast Miami,+1 786-733-3624,https://trueway-sell-my-house-fast-miami-ltd.b...,OPERATIONAL,Real estate agency,Miami,Florida,5.0,"{""Accessibility"": {""Wheelchair accessible entr...",True,4.0,Trueway Sell My House Fast Miami,4.0,5.0,I can't express how thrilled I am with the ser...,2023-09-08
4,DFWCityhomes,+1 214-207-0210,https://dfwcityhomes.com/,OPERATIONAL,Real estate agent,Dallas,Texas,4.9,"{""Service options"": {""Online appointments"": tr...",True,149.0,DFWCityhomes,149.0,4.9,"Todd delivered as advertised! Punctual, profes...",2023-09-08

Aqui eu começo a plotar alguns graficos

ideias:
 - empresa com melhor avg rating por estado
 - empresa com melhor avg rating overall
 - tirar empresas com poucas avaliaçoes?
 - pensar em como usar o about/review_text - algo tipo, destacar lugares com acessibilidade e LGBTQ friendly e review_text com palavras tipo, incrivel, bonito, etc.